
/* CSS POUR LA PARTIE MOBILE */

/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

a
{
    text-decoration : none; /* enleve le soulignement des liens */
    color: black; /* Annule le bleu d'origine des liens */
}

*
{
    margin: 0; /* pas de marges, ni d'espacements sur ts les elements */
    padding: 0;
    border: 0;
    font-size: 15px;
    font-family: 'Raleway', Arial, sans-serif; /*definit la taille et la police des paragraphes*/
    
}

h1
{
    font-size : 20px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2{
    font-size: 18px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h3
{
    font-size : 17px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.rempli
{
    color: #0065fc; /*etoile rempli en bleu */
}

.vide
{
    color : #f2f2f2; /*etoile 'vide' remplies en grises */
}


/* PARTIE HEADER */

#menu_pc{

    display: none;
}

header
{
    display:flex;
    justify-content: space-between;   /* aligne les elements et les place */
    align-items: center;
    margin-top:30px;
    margin-left: 15px;
    margin-right: 15px;
}

#logo img
{
    width: 100px;
    height: 50px;    /* Redimensionne le logo */
}

header p
{
    font-weight:bold; /* Met 's'inscrire en gras */
}

header a 
{
    color : #0065fc;
}

/* PARTIE NAVIGATION */

nav
{
   margin-top : 20px;
}
ul {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  
li {
    display: inline;
    width: 50%;
  }
  
nav li a {
    display: inline-block;
    width: 49%;
    text-align: center;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 10px;
  }

nav li a:hover 
{
    border-bottom : solid 3px #0065fc; 
    color: #0065fc
}



/* SECTION RECHERCHE */

#recherche
{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    padding-right: 0

}

#recherche h1
{
    margin-bottom : 15px;
    margin-left: 2px; /* alignement avec l'icone i */
}

#recherche p
{
    margin-left: 2px; /* alignement avec l'icone */
    margin-bottom: 20px;
}

#recherche form
{
    min-width:290px;
    padding-right: 0;
}

#point
{   
    position:relative;
    left:2px;           /* decale l'icone pour coller a la barre de recherche */
    background-color: #f2f2f2;
    border-top-left-radius : 10px; /* arrondi les angles de l'icone */
    border-bottom-left-radius: 10px;
    padding: 15px;
    
}

#search
{
    font-weight: bold;
    font-size: 15px;                    /* definit la barre de recherche */
    width: 190px;
    padding: 13px;
    padding-bottom: 12px;
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    word-wrap: break-word;
}

#bouton_rechercher
{
    visibility: hidden; 
}

#loupe
{
    position: relative;  /* Crée le bouton pour envoyer sa recherche */
    left: -30px;
    padding: 15px;
    color:white;
    border-radius: 15px;
    background-color: #0065fc;
}

input{
    -webkit-appearance: none;
}


/* SECTION FILTRE */

#filtre
{
    margin-left: 30px;
    margin-right:30px;
    margin-top: 30px;
}
#choix_filtre
{
    display:flex;
    flex-wrap: wrap;
}
.bouton 
{
    margin-top: 10px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bouton-logo
{
    display:flex;
    justify-content: center;
    width: 40px;
    height:28px;
   background-color: #deebff; /* definit la partie logo du bouton */
   color:#0065fc;
   border-radius: 25px;
   text-align :center;
   padding-top: 13px;
   
}

.bouton-text
{
    position: relative;
    left: -18px;
    padding-left: 25px;
    padding-right: 15px;
    border-top: #E3E3E3 solid 2px;     /* definit la partie texte du bouton */
    border-bottom:#E3E3E3 solid 2px;
    border-right: #E3E3E3 solid 2px;
    border-top-right-radius: 25px;
    border-bottom-right-radius:25px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.bouton .bouton-text:hover
{
    color : #0065fc;
    border-top: #deebff solid 2px;
    border-bottom:#deebff solid 2px; /* au passage de la souris des boutons filtres */
    border-right: #deebff solid 2px;
}

.bouton-text p
{
    font-size: 12px;
    font-weight: bold; 
}

/* SECTION INFOS */

#info
{
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    margin-right : 30px;
    
}

#info p
{
    margin-left: 15px;
}

#info-logo
{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    height : 25px;
    width: 50px;
    border: solid #f2f2f2 1px;
    color : #0065fc;
    padding-top: 10px;
}

/* SECTION LES + POPULAIRES */

#populaire
{
    padding-top: 20px;
    padding-bottom:20px;
    margin-top : 30px;
    background-color : #f2f2f2;
    display:flex;
    flex-direction : column;
    align-items: center;
}

#titre_populaire
{
    width: 87%;
    display:flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 20px;
}

.choix_populaire
{
    width: 90%;
    height: 180px;
    margin-bottom: 15px;
    background-color: white;
    border-radius :20px;
}

.image
{
    margin-top: 5px;
    margin-left:5px;
    margin-right: 10px;
    width: 45%;
    height: 170px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.image img{
   
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.structure_populaire
{
    display:flex;
}

.contenu_populaire
{
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenu_populaire p
{
    padding-bottom: 40px;
}


/* Section hebergement */

#hebergements
{
    margin-top : 30px;
}

#hebergements h2
{
    margin-bottom: 20px;
    margin-left: 25px;
}

#fenetre_hebergement
{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.choix_hebergement
{
    width: 90%;
    height: 230px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow:1px 1px 10px #555;
}

.image_hebergement
{
    margin-left:3px;
    margin-top: 2px;
    width: 98%;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom : 10px;
}

.image_hebergement img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.choix_hebergement h3
{
    margin-left: 15px;
    margin-right: 15px;
}

.choix_hebergement p
{
    margin-left: 15px;
    margin-right: 15px;
    margin-top:10px;
    margin-bottom : 10px;
}

.etoile
{
    margin-left: 15px;
    margin-right: 15px;
}

.afficher
{
    font-size: 17px;
    font-weight:bold;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
}

/* SECTION ACTIVITES */

#activite
{
    margin-top: 60px;
}

#activite h2
{
    margin-left : 25px;
    margin-bottom : 20px;
}

#fenetre_activite
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choix_activite
{
    width: 90%;
    height: 190px;
    border-radius: 20px;
    box-shadow:1px 1px 10px #555;
    margin: 0 auto;
    margin-bottom: 20px;
}

.image_activite
{
    width: 100%;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom : 20px;
}

.image_activite img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.choix_activite h3
{
    margin-left: 15px;
}

/* SECTION A PROPOS */

footer{
    background-color: #f2f2f2;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom : 20px;
}

footer div{
   margin-left: 20px;
   margin-bottom: 20px;
}

footer h3{
    margin-bottom: 20px;;
}

footer p{
    margin-bottom: 10px;
}

/* CSS pour les tablettes : minimum 600px et maximum 1023px */

@media screen and (min-width: 600px) and (max-width: 1023px){

/*PARTIE RECHERCHER */

#recherche{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#recherche form{
    margin-left: 120px;
}

/* PARTIE FILTRES */

#filtre h2{
    text-align: center;
    margin-bottom: 15px;
    margin-top : 45px;  
}

#choix_filtre{
    margin-left : 30px;
    justify-content: center;
}

/* INFOS LOGEMENTS DISPONIBLES */

#info{
    justify-content : center;
    align-items: center;
}

#info-logo
{
    width: 35px;
}

/* SECTION LES PLUS POPULAIRES */

#titre_populaire{
    margin-left: 30px;
    margin-right: 30px;
}

.choix_populaire{
    width : 80%;
}

.image{
    margin-right: 25px;
}

/* SECTION HEBERGEMENTS */

#hebergements h2{
    margin-left: 40px;
}
.choix_hebergement{
    
    width: 45%;
    margin-right: 10px;
    margin-left : 10px;
}

#fenetre_hebergement{
    
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;
}

.afficher{
    margin-left: 40px;
}

/* SECTION ACTIVITE */

#fenetre_activite
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.activite:nth-child(2){
    order:1;
}

.activite:nth-child(4){
    order:2;
}

.activite_1{
    width: 50%;
}

.activite_2{
    width: 100%;
    display: flex;
}

#activite h2{
    margin-left: 40px;
}


.activite_1 .choix_activite{
    width : 80%;
    
    
}

.activite_2 .choix_activite{
    width : 40%;
    
}

.choix_activite h3{
    text-align:center;
    margin-left: 0;
}

/* SECTION FOOTER */

footer{
    text-align:center;
}
}

/* CSS POUR LES ORDINATEURS : minimum 1024px */

@media screen and (min-width: 1024px){

    /* SECTION HEADER + NAV */

    header{
        display :none;
    }

    nav{
        display:none;
    }


    #logo_pc img{
        width : 100px;
        height : 50px;
    }

    #menu_pc{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center; 
        padding-right: 30px;
        padding-left : 30px;
        margin-top : 20px;
    }

    #nav_pc{
        display:flex;
    }

    
    #nav_pc_ul ul li a { 
        display:inline-block;
        width: 150px;
        height: 50px; 
        text-align:center;
        margin-right : 15px;
    
    }

    #nav_pc li{
        padding-top: 30px;
    }

    #nav_pc li:hover{

        border-top: solid 2px #0065fc;

    }

    #nav_pc li:hover a{
        color : #0065fc;

    }

    #nav_pc_ul{
        margin-top: 20px;
        margin-right: 20px;
    }

    #inscription {
        padding-top: 20px;
        font-weight: bold;
    }

    #inscription a{
        color: #0065fc;
    }

    /* SECTION RECHERCHE */
    #recherche form{
        min-width: 450px;;
        width: 400px;
    }
    #loupe{
        visibility: hidden;
    }

    #bouton_rechercher{
        visibility: visible;
        width: 150px; 
        height: 46px;
        color: white;
        background-color: #0065fc;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        position: relative;
        left: -55px;
    }

    /* SECTION FILTRES */

    #filtre{
        display: flex;
        align-items: center;
    }

    #filtre h2{
        margin-right : 30px;
        padding-top: 5px;
    }

    /* SECTION INFOS LOGEMENTS DISPOS */

    #info-logo{
        width: 35px;
    }

    #info{
        align-items: center;
    }

    /* SECTIONS HEBERGEMENTS + POPULAIRES (DISPOSITIONS) */

    #populaire{
        width : 30%;
        margin-left: 40px;
        border-radius: 20px;
    }

    #hebergements{
        padding-top: 35px;
        width: 65%;
        background-color:#f2f2f2;
        border-radius: 20px;
    }

    #hebergements h2{
        margin-left: 30px;
        margin-bottom: 30px;
    }

    #dispo_pc{
        display:flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    /* SECTION POPULAIRE */

    .contenu_populaire p{
        padding-bottom: 20px;
    }

    /* SECTION HEBERGEMENT */

    .choix_hebergement{
        width: 30% ;
        margin-left: 10px;
        margin-right:10px;
        margin-bottom: 30px;
        height: 250px;
    }


    #fenetre_hebergement{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .afficher{
        margin-left: 30px;
        margin-top: 20px;
    }

    /* SECTION ACTIVITE */

    #fenetre_activite{
        flex-direction: row;
        justify-content:left;
        padding-left: 20px;
        padding-right: 20px;
    }

    .activite{
        width: 25%;
    }

    .activite_1 .choix_activite{
        height: 400px;
    }

    .activite_1 .image_activite{
        height : 340px;
    }

    .image_activite{
        margin-bottom :10px;
    }

    .image_activite h3{
        margin-right: 10px;
    }
    
    /* SECTION FOOTER */

    footer{
        display: flex;
        padding-left : 30px;
    }

    footer div{
        margin-right : 300px;
    }
}